body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #212121;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-0 {
    padding: 0!important;
}
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.text-red {
    color: #D22E2C;
}
.link-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10000;
}
section h1 {
    font-family: 'Oranienbaum', serif;
    text-shadow: black 1px 3px 6px;
    font-weight: 400;
    font-size: 32px;
}

header {
    width: 100%;
    height: 100vh;
    background: url("../img/BGhero.jpg") no-repeat center center;
    background-size: cover;
}

.bg-hero {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
}

.bg-hero img {
    align-self: center;
    width: 55%;
}

.hero-text {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 100px 15px;
}

.hero-text h1 {
    font-family: 'Oranienbaum', serif;
    font-size: 220px;
    font-weight: 400;
    color: white;
    text-shadow: black 0 3px 6px;
    align-self: center;
    z-index: 100;
}

.hero-text p {
    color: white;
    font-size: 32px;
}

.scene {
    position: absolute;
    left: 30%;
    bottom: 100px;
}

/* NAVIGATION */
nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50px;
    padding: 0 100px;
    overflow: hidden;
    z-index: 10000;
}

.nav.active {
    position: fixed;
    height: 100%;
}

.nav ul li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.nav ul.nav-active {
    transform: translateX(0);
}

.nav ul li a:after {
    content: "";
    display: block;
    opacity: 0;
    width: 75%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -15%;
    bottom: -3px;
    transition: all .5s;
}

.nav ul li a.active {
    color: #D22E2C;
}

.nav ul li a.active:after {
    content: "";
    opacity: 1;
    display: block;
    width: 75%;
    height: 2px;
    background-color: #D22E2C;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.nav ul li a:hover:after {
    opacity: 1;
    left: 0;
}

.link-reg {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
}

.link-reg:after {
    content: "";
    width: 75%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -15%;
    bottom: -3px;
    transition: all 0.5s;
}

.link-reg:hover:after {
    width: 100%;
    left: 0;
}

.burger {
    display: none;
    z-index: 1;
}

.burger:hover {
    cursor: pointer;
}

.burger div {
    display: block;
    background-color: white;
    height: 2px;
    margin: 5px;
    transition: all 0.5s;
}

.burger div.line1 {
    width: 20px;
}

.burger div.line2 {
    width: 15px;
}

.burger div.line3 {
    width: 25px;
}

div.line1.toggle {
    transform: rotate(45deg) translate(5px, 3px);
}

div.line3.toggle {
    transform: rotate(-45deg) translate(7px, -5px);
    width: 20px;
}

div.line2.toggle {
    opacity: 0;
}

/*  ABOUT */
section.about {
    background: url('../img/Group22.png') top center;
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    margin-top: 50px;
    scroll-behavior: smooth;
}

section.about h1 {
    margin-left: 150px;
    position: relative;
}

section.about h1:before {
    content: "";
    width: 2px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: -30px;
    bottom: 5px;
}

.text-hero-about {
    font-size: 24px;
}

.block-icons {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.block-icons .icon {
    grid-column: span 3;
    padding: 15px;
}

.block-icons .icon i {
    color: #D22E2C;
    margin-bottom: 20px;
}

.owl-carousel .owl-dots {
    margin-top: 50px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    zoom: 1;
    background-color: white;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    margin: 10px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot.active {
    background-color: #D22E2C;
    transform: scale(1.7);
}

/* STOCK */
.stock {
    padding-bottom: 100px;
    overflow: hidden;
}

.stock_block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}

.stock-text {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 100;
}
.stock-text a{
    color: white;
    font-size: 16px;
    display: block;
    background-color: #D22E2C;
    width: 260px;
    padding: 15px 35px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}
.stock-text a:hover{
    background-color: #ff3331;
}
.stock-text span {
    font-weight: bold;
}

.stock-images {
    grid-column: span 1;
}
.view-stock-img {
    width: 100%;
}
.view-stock-img .view-img {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(33, 33, 33, 0.9);
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    transition: all 1s;
    overflow-y: auto;
}
.view-stock-img .view-img.active{
    display: block;
}
.view-stock-img .view-img img{
    width: 100%;
    margin: 0 auto;
}
.view-img .images{
    margin-top: 50px;
}
#close-stock:hover {
    cursor: pointer;
}
#view-stock-img {
    opacity: 0.5;
}
#view-stock-img i {
    opacity: 1;
}
#view-stock-img:hover{
    cursor: pointer;
}

#stock-scene-abstr {
    position: absolute;
    top: -20%;
    left: -20%;
    z-index: 1;
}

.stock-img div {
    top: 150px;
}

.stock-img.img1 img {
    width: 100%;
}

.stock-img.img3 img {
    width: 75%;
}

.stock-img.img2 img {
    width: 100%;
}

/* CATALOG */
.catalog {
    overflow: hidden;
    margin-bottom: 50px;
}

.catalog-block {
    margin-top: 100px;
}

.img-catalog {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.img-catalog img {
    width: 100%;
    box-shadow: #212121 3px 3px 20px;
}
.img-catalog p {
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    color: #888888;
}

#catalog-scene {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#catalog-scene div {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.downloadCat {
    display: inline-block;
    padding: 15px 35px;
    margin: 20px auto 0 auto;
    text-decoration: none;
    border-radius: 5px;
    background-color: #D22E2C;
    color: white;
}
.downloadCat:hover {
    background-color: #ff3331;
}
#catalog-scene img {
    display: block;
}

/* MARKETING PLAN */

.marketing {
    position: relative;
    background-color: white;
    color: #212121;
}
.marketing-text h1{
    text-shadow: black 1px 3px 3px;
}
.block-marketing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
}
.marketing-image {
    grid-column: span 6;
    position: relative;
    z-index: 1;
}
.marketing-image img{
    position: absolute;
    width: 90%;
}

.marketing-block-text {
    height: 600px;
    padding: 20px 0;
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.marketing-block-text h2{
    font-size: 32px;
}
.marketing-block-text p{
    font-size: 32px;
    margin-top: 50px;
}
.marketing-block-text span{
    font-size: 46px;
    font-weight: bold;
    color: #D22E2C;
}

.marketing-link {
    margin-top: 50px;
    font-size: 12px;
}
.marketing-link a{
    font-size: 18px;
    color: #212121;
}
#marketing-scene {
    position: absolute;
    right: 100px;
    top: 200px;
}
#marketing-scene img{
    width: 50%;
}
.view-marketing {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(33, 33, 33, 0.9);
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    transition: all 1s;
    overflow-y: auto;
    z-index: 10000;
}
.view-marketing.active {
    display: block;
}
#open_marketing {
    cursor: pointer;
    text-decoration: underline;
}
#open_marketing:hover {
    cursor: pointer;
}
#close-marketing:hover {
    cursor: pointer;
}
.view-marketing img{
    width: 100%;
    margin-top: 20px;
}

/* REGISTRATION */
.registration {
    padding: 100px 0;
    overflow: hidden;
}
.block-reg {
    width: 100%;
    position: relative;
    margin-top: 100px;
}
.reg-img{
    z-index: 1;
}

.reg-img img{
    position: absolute;
    left: -15px;
    top: 0;
}
.header-reg {
    padding: 100px 0;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.form-reg {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.form-reg div{
    width: 100%;
    grid-column: span 1;
}
.block-form {
    position: relative;
    max-width: 600px;
    background-color: white;
    box-shadow: black 0 3px 20px;
    padding: 100px 50px;
}
.block-form .text-reg{
    color: #212121;
    font-size: 32px;
}
.text-manager {
    color: #212121;
}
.text-manager i{
    color: #53d250;
}
.block-form form{
    margin-top: 100px;
}
.mui-textfield>input:focus, .mui-textfield>textarea:focus {
    border-color: #212121;
}
.mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label {
    color: #212121;
}
.mui-textfield--float-label>label {
    color: rgba(0, 0, 0, 0.5);
}
.mui-btn--fab, .mui-btn--raised {
    line-height: normal;
    height: 52px;
    padding: 0 35px;
    margin: 50px auto 0;
    background-color: #D22E2C;
    color: white;
    box-shadow: black 0 3px 6px;
}
.mui-btn--fab, .mui-btn--raised span{
    text-transform: none;
    font-size: 9px;
    color: white;
}
.mui-btn:active, .mui-btn:focus, .mui-btn:hover{
    background-color: #ff3331;
    color: white;
    box-shadow: black 0 3px 6px;
}

.mui-btn[disabled], .mui-btn[disabled], .mui-btn[disabled]{
    color: #888888;
    background-color: rgba(255, 51, 49, 0.5);
    box-shadow: black 0 3px 6px;
}
.mui-btn[disabled]:active, .mui-btn[disabled]:focus, .mui-btn[disabled]:hover{
    color: #888888;
    background-color: rgba(255, 51, 49, 0.5);
    box-shadow: black 0 3px 6px;
}

label#user_mail-error{
    top: -20px;
    padding: 2px;
    line-height: inherit;
    font-size: 12px;
}
label#first_name-error.error{
    top: -20px;
    padding: 2px;
    line-height: inherit;
    font-size: 12px;
}
label#user_city-error.error{
    top: -20px;
    padding: 2px;
    line-height: inherit;
    font-size: 12px;
}
label#user_phone-error.error{
    top: -20px;
    padding: 2px;
    line-height: inherit;
    font-size: 12px;
}

.form-send-preload {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: all 0.3s;
}
.form-send-preload .form-preload{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.form-send-success {
    padding: 20px 0;
    display: none;
    justify-content: center;
}
.form-send-error {
    padding: 20px 0;
    display: none;
    justify-content: center;
}
.mui-select__menu>div {
    color: #212121;
}

/* CONTACTS */
.contacts {
    margin-top: 150px;
}
.policy {
    margin-top: 130px;
}
.contacts-block {
    padding: 100px 0;
    margin-top: 100px;
    background: url("../img/contacts.jpg") no-repeat right center;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
ol {
    list-style: none;
    counter-reset: li;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.contacts-item {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(210, 46, 44, 0.9);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));;
    padding: 100px 20px;
}
.contacts-item .item {
    margin: 20px 0;
}
.contacts-item .item p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.contacts-item .item a{
    display: block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.social-item {
    display: flex;
    background-color: rgba(210, 46, 44, 0.9);
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
}
.social-item .item a{
    color: white;
}

/* FOOTER */

/* LOGIN */
.block-login {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
}
.form-login {
    max-width: 320px;
    margin: 0 auto;
    background-color: white;
    padding: 50px 15px;
    border-radius: 5px;
    box-shadow: black 0 5px 10px;
}
.btn-login {
    padding: 15px 30px;
    background: #D22E2C;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    color: #eeeeee;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.1em;
    text-decoration: none;
}
.btn-reg-submit {
    display: block;
}
/* ADMIN PAGE*/

.block-admin {
    width: 100%;
    margin-top: 300px;
}
.view-stock {
    margin-top: 70px;
}
.form-stock {
    margin-top: 20px;
    max-width: 500px;
    padding: 30px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: black 0 3px 10px;
}
.form-stock .view-images img{
    width: 100%;
    margin-bottom: 15px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.view-images {
    color: #212121;
}
.view-images label{
    display: inline-block;
    padding: 15px 5px;
    border: 1px solid #212121;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.notify {
    padding: 10px;
    background-color: #D22E2C;
}
footer {
    padding: 100px 10px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .img-catalog {
        width: 75%;
    }

    .hero-text h1 {
        font-size: 200px;
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .hero-text h1 {
        font-size: 150px;
    }

    .bg-hero img {
        align-self: center;
        width: 65%;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .hero-text h1 {
        font-size: 120px;
    }

    .block-icons .icon {
        grid-column: span 6;
        margin-top: 50px;
    }

    .bg-hero img {
        align-self: center;
        width: 70%;
        position: absolute;
        top: 50%;
    }

    .hero-text {
        align-items: baseline;
    }

    .stock-text {
        grid-column: span 2;
        padding: 15px;
    }

    .stock-images {
        grid-column: span 2;
        margin-top: 50px;
    }

    .marketing-block-text{
        grid-column: span 12;
    }
    .marketing-image {
        grid-column: span 12;
    }
    .marketing-image img{
        left: -30%;
        opacity: 0.4;
    }
    /* NAV */
    .nav ul {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        background-color: rgba(21, 21, 21, 0.9);
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s;
    }

    .nav .burger {
        display: block;
    }

    .nav {
        padding: 50px;
        top: 0;
    }
    .form-reg div {
        grid-column: span 2;
    }
    .block-admin {
        margin-top: 100px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 570px;
    }
    .img-catalog {
        width: 100%;
    }
    .hero-text h1 {
        font-size: 65px;
    }

    .block-icons .icon {
        grid-column: span 12;
    }

    .bg-hero img {
        align-self: center;
        width: 75%;
        position: absolute;
        top: 50%;
    }

    .nav {
        padding: 20px;
        top: 0;
    }

    .scene {
        left: 0;
    }
    .block-form {
        padding: 100px 15px;
    }
    .contacts-item {
        width: 100%;
    }

}

@media (max-width: 320px) {
    .container {
        width: auto;
    }
    .img-catalog {
        width: 100%;
    }
    .bg-hero img {
        align-self: center;
        width: 75%;
        position: absolute;
        top: 50%;
    }


}